# Si despliegas en producción en un servidor real, cambia esto por tu IP o dominio real.
# Ejemplo: VITE_API_URL=http://midominio.com:8083/api
# Ejemplo: VITE_API_URL=http://192.168.1.50:8083/api
VITE_API_URL=http://localhost:8083/api
